@import "./variables";

.md-preview-panel {
  display: flex;
  flex-direction: column;

  .header {
    padding: .25rem;
    background-color: $primary-color-light;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    font-size: 1rem;
    color: white;
    font-weight: 600;
  }

  .view {
    flex: 1;
    outline: none;
    border: 1px solid $primary-color-light;
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
  }

}